html {
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	background-image: url("Background-image.png");
  }
img {
	height: 100%;
	width: 100%;
}
.header {
	position: relative;
	/*font-style: bold;*/
}
/*User*/
.user-container {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	background-color:rgba(250, 235, 215, 0.623);
	border-radius: 17px;
	margin: 30px auto;
	max-width: 1000px;
}
.user-image {
	width:180px;
	height:170px;
    position: relative;
	margin: 30px;
}
.user-info {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.user-info h1 {
	font-size: 30px;
	font-weight: bold;
	color:rgb(43, 33, 102);
	position: relative;
	top: 0px;
} 
/*Contact*/
.contact {
	display: flex;
}
.contact-item1 {
	display:flex;
	flex-direction: column;
	position: relative;
	left: 100px;
}
.contact-item2 {
	display: flex;
	flex-direction: column;
	position: relative;
	left: 150px;
}
#fb {
text-decoration-line: none;
}

@media only screen and (max-width: 1023px) {
	.user-container {
		flex-direction: column;
		margin: 30px 250px;
		padding-bottom: 30px;
	}
	.user-image {
		position: relative;
		top: 20px;
		margin-left: 0px;
	}
	.user-info {
		position: relative;
		top: 20px;
		margin-left: 0px;
		text-align: center;
	}
	
	.contact {
		flex-direction: column;
		position: relative;
		top: 20px;
		align-items: flex-start;
	}

	.contact-item1, .contact-item2 {
		position: relative;
		left: 0px;
	}
}
/*More*/
.more-container {
	display: flex;
	margin: 30px auto;
	max-width: 1000px;
}
/*Home*/
.home-container {
	width: 120px;
	height: 30%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color:rgba(255, 255, 255, 0.425);
	border-radius: 17px;
}
.home-item1, .home-item2 {
	width: 80px;
	text-align: center;
	position: relative;
}
.home-container h3 {
	position: relative;
	text-decoration-line: none;
}
/*About*/
.about-container {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color:rgba(255, 255, 255, 0.425);
	border-radius: 12px;
	position: relative;
	margin-left: 30px;
	padding: 30px;
}
.about-items p{
	margin: 10px 0px 30px;
	color: black;
	font-family: Verdana;
	font-size: 20px;
	font-style: italic;
}
@media only screen and (max-width: 1023px) {
	.more-container {
		flex-direction: column;
		margin: 30px 250px 0px;
	}
	.home-container {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
		position:relative;
		bottom: 0px;
	}
	.about-container {
		width: 100%;
		position: relative;
		top: 30px;
		margin-left: 0px;
	}
}
/*Quotes*/
.about-quotes {
	padding-top: 80px;
}
.quotes-items {	
	display: flex;
	flex-direction: column;
}
.quote-item {
	padding: 20px;
	display: flex;
	box-sizing: border-box;
	background-image: url("Background-quotes.jpg");
	border-radius: 12px;
	font-size: 20px;
}
.people-image {
	width:120px;
	height:100%;
	border-radius: 12px;
}
.item {
	position: relative;
	padding: 0px 10px;
}
span {
	font-style: italic;
	color: rgba(218, 107, 66, 0.89);
}
@media only screen and (max-width: 1023px) {
	.quote-item {
		flex-direction: column;
		text-align: center;
	}
	.people-image {
		margin: auto;
	}
}
/*Passion*/
.passion-container {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border-radius: 12px;
	background-color:rgba(255, 255, 255, 0.425);
	position: relative;
	margin-left: 30px;
	padding: 30px;
}
.layout-container, .rubik-container, .travel-container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 30px;
}
.layout-image, .rubik-image, .travel-image {
	border-radius: 12px;
	margin-right: 20px;
}
@media only screen and (max-width: 1023px) {
	.more-container {
		flex-direction: column;
		margin: 30px 250px 0px;
	}
	.home-container {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
		position:relative;
		bottom: 0px;
	}
	.passion-container {
		width: 100%;
		position: relative;
		top: 30px;
		margin-left: 0px;
	}
	.layout-container, .rubik-container, .travel-container {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
	}
	.layout-image, .rubik-image, .travel-image {
	  	width: 250px;
		height: 230px;
		border-radius: 20px;
		margin-top: 20px;
	}
}
