 html {
	font-size: 63%;
	font-family: 'Roboto', sans-serif;
  }
  img {
	height: 100%;
	width: 100%;
}
/*Home*/

li {
	list-style: none;
}
a {
	text-decoration: none;
}
ul {
	width: 100%;
	height: 80vh;
}

nav {
	display: flex;
	height: 60px;
	background-color:azure;
	box-shadow: 2px 2px 11px #0000002c;
	padding: 0px;
  
}

nav ul {
	display: flex;
  justify-content: center;
}

nav ul li a {
	margin: 40px;
	color:cadetblue;
	font-size: 25px;
	font-weight: 400;
}


.text-container .title  {
	font-weight: bold;
	color:cornflowerblue;
	font-size: 60px;
  padding-bottom: 15px;
}
span {
	color:rgb(34, 29, 63);
}

.text-container .content {
	font-family: myriad pro regular;
	font-size: 30px;
}

.text-container p{
	line-height: 0px;
	margin: 45px 0px 25px;
}

.text-container {
	position: absolute;
	left: 12%;
	top: 52%;
	transform: translate(-5%, -250%);
}

.model {
	height: 40%;
	width: 40%;
	right: 60%s;
}






/*Passion*/


.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 20px;
	text-align: center;
}
.layout-container {
  align-items: center;
	justify-content: center;
}

.layout-container {
        display: grid;;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
        overflow: hidden;
        max-width: 800px;
        margin: auto;
    }
.layout-item1 {
        grid-area: myArea;
      }
.layout-container {
        display: grid;
        grid-template-areas: 'myArea myArea';
        grid-gap: 30px;
      }

.layout-image {
    width: 100%;
    height: 350px;
    border-radius: 12px;
}

.layout-item1 .layout-image {
    height: 500px;
}


/* Contact */
.contact-container {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
  height: 60px;
}
.contact-items {
	/* max-width: 400px; */
	width: 100%;
}
.contact-item {
	width: 80%;
    padding:20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
}

.contact-icon {
	width: 70px;
	margin: 0 auto;
}
.contact-info h3 {
    text-align: center;
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
.contact-info h4 {
    text-align: center;
	font-weight: 500;
}
